<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        <form>
            <input type="submit" value="Turn on LED" id="on"/>
        </form>
        <br>
        <form>
            <input type="submit" value="Turn off LED" id="off"/>
        </form>
    </div>
    <div>
        <h1>WebSocket Chat</h1>
        <form action="" onsubmit="sendMessage(event)">
            <input type="text" id="messageText" autocomplete="off"/>
            <button>Send</button>
        </form>
        <ul id='messages'>
        </ul>
    </div>
</body>
<script>
    document.getElementById("on").addEventListener('click', (e) =>{
        e.preventDefault()
        fetch('/on')
    })

    document.getElementById("off").addEventListener('click', (e) =>{
        e.preventDefault()
        fetch('/off')
    })
    var ws = new WebSocket("ws://192.168.0.104:8000/ws");
    ws.onmessage = function(event) {
        var messages = document.getElementById('messages')
        var message = document.createElement('li')
        var content = document.createTextNode(event.data)
        message.appendChild(content)
        messages.appendChild(message)
    };
    function sendMessage(event) {
        var input =document.getElementById("messageText")
        ws.send(input.value)
        input.value = ''
        event.preventDefault()
    }
</script>
</html>